@import "bootstrap-sprockets";
@import "bootstrap";
$light-gray: #777;

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  }
  input {
  height: auto !important;
  }

  #error_explanation {
    color: red;
    ul {
    color: red;
    margin: 0 0 30px;
    }
   }
   .field_with_errors {
    @extend .has-error;
    .form-control {
    color: $state-danger-text;
    }
   }
  /* sidebar */
aside {
  section.user_info {
  margin-top: 20px;
  }
  section {
  padding: 10px 0;margin-top: 20px;
  &:first-child {
  border: 0;
  padding-top: 0;
  }
  span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
  }
  h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
  }
  }
  }
  .gravatar {
  float: left;
  margin-right: 10px;
  }
  .gravatar_edit {
  margin-top: 15px;
  }
  .checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
    span {
    font-weight: normal;
    margin-left: 20px;
    }
    }
    #session_remember_me {
    margin-left: 0;
    width: auto;
    }
    .users {
      list-style: none;
      margin: 0;
      li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
      }
      }